@use '../../styles/typography' as t;
@use '../../styles/colors' as c;
@use '../../styles/mixins' as m;

.portfolio_block {
    padding: 145px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: space-between;
    background-color: c.$accentBlack;

    .portfolio_block__title {
        @include t.h1_bold();
        color: c.$pastelWhite;
    }

    .items {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;

        .item {    
            width: 100%;
            height: auto;

            img {
                width: 100%;
                height: auto;
            }
        }

        @media only screen
        and (max-device-width: 1200px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media only screen
        and (max-device-width: 1000px) {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}