@use '../../styles/typography' as t;
@use '../../styles/colors' as c;
@use '../../styles/mixins' as m;

.body {
    @include m.button();
    cursor: pointer;

    .title {
        @include t.text2();
        font-family: 'Golos Text';
        font-weight: 500;
        color: c.$accentBlack;
    }

    img {
        height: 20px;
        width: 20px;
    }
}