@use '../../styles/typography' as t;
@use '../../styles/colors' as c;
@use '../../styles/mixins' as m;

.technologies_block {
    width: 100%;
    padding: m.$block-padding;
    display: flex;
    flex-direction: column;
    gap: 65px;

    .technologies_block__title {
        @include t.h1_bold();
        color: c.$accentBlack;
    }

    .technologies_block__content {
        display: grid;
        grid-template-columns: repeat(5, 186px);
        grid-row-gap: 35px;
        justify-content: space-between;

        @media only screen
        and (max-device-width: 1290px) {
            grid-template-columns: repeat(4, 186px);
        }

        @media only screen
        and (max-device-width: 1070px) {
            grid-template-columns: repeat(3, 186px);
        }

        @media only screen
        and (max-device-width: 870px) {
            grid-template-columns: repeat(2, 186px);
        }

        @media only screen
        and (max-device-width: 870px) {
            grid-template-columns: repeat(2, 186px);
        }
        
        @media only screen
        and (max-device-width: 685px) {
            grid-template-columns: repeat(1, 1fr);
        }

        .technologies_block__item {
            @include m.animation();

            width: 186px;
            height: 186px;
            padding: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 32px;
            border: 2px solid c.$accentBlack;
            border-radius: 8px;

            @media only screen
            and (max-device-width: 685px) {
                width: 100%;
                height: 186px;
            }

            img {
                width: 56px;
                height: 56px;
            }

            .technologies_block__item_title {
                @include t.text1();
                color: c.$accentBlack;
            }

            &:hover {
                background-color: rgba($color: c.$accentMint, $alpha: .41);
            }
        }
    }
}