@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;500;600&display=swap&subset=cyrillic');

:root {
  --Golos: 'Golos Text';
}

/* 
---------------------------------------------
reset
--------------------------------------------- 
*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
div pre,
a,
abbr,
acronym,
address,
big,
button,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
figure,
header,
nav,
section,
article,
aside,
footer,
figcaption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #F5F5F5;
  font-family: var(--Golos);
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0px;
  margin-bottom: 0px;
}

ul {
  margin-bottom: 0px;
}

.owl-carousel {
  margin: 0 auto;
}

html
body .owl-carousel .owl-nav button.owl-prev, html
body .owl-carousel .owl-nav button.owl-next {
  /* padding: 15px 15px!important; */
  min-width: 40px;
  min-height: 40px;
}

.owl-theme .owl-nav [class*='owl-'] {
  margin: 0px!important;
}

.owl-prev {
  position: absolute;
  left: 0px;
  padding: 15px 10px!important;
  top: 179px;
  background: rgba(113, 113, 122, 0.33)
      url('/assets/icon-right.svg') no-repeat 53% 58%  !important;
  background-position: top center;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.owl-prev:hover {
  background: rgba(132, 220, 207, 0.8)
      url('/assets/icon-right.svg') no-repeat 53% 58%  !important;
  background-position: top center;
}


.owl-prev.disabled:hover {
  background: rgba(113, 113, 122, 0.33)
  url('/assets/icon-right.svg') no-repeat 53% 58% !important;
}

.owl-next {
  position: absolute;
  right: 0px;
  top: 179px;
  background: rgba(113, 113, 122, 0.33)
  url('/assets/icon-left.svg') no-repeat 53% 58% !important;
  background-position: top center;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.owl-next:hover {
  background: rgba(132, 220, 207, 0.8)
  url('/assets/icon-left.svg') no-repeat 53% 58% !important;
}

.owl-next.disabled:hover {
  background: rgba(113, 113, 122, 0.33)
  url('/assets/icon-left.svg') no-repeat 53% 58% !important;
}

.owl-nav button.owl-prev, button.owl-next {
  padding: 15px 10px!important;
  border-radius: 8px!important;
}

.owl-next span, .owl-prev span {
  visibility: hidden;
}
