@use '../styles/typography' as t;
@use '../styles/colors' as c;
@use '../styles/mixins' as m;

.main {
    .start_block {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: m.$block-padding;
        margin-top: 160px;

        .start_block__main_info {
            display: flex;
            flex-direction: column;
            gap: 45px;
            max-width: 710px;

            .start_block__header {
                @include t.h1_regular();
                color: c.$accentBlack;

                span {
                    @include t.h1_bold();
                    color: c.$accentBlack;
                }
            }

            .start_block__text {
                @include t.text2();
                color: c.$accentBlack;
            }

            .start_block__icons {
                display: flex;
                gap: 32px;

                img {
                    width: 48px;
                    height: 48px;
                }
            }
        }
    }

    .technologies_block {
        width: 100%;
        padding: m.$block-padding;
        display: flex;
        flex-direction: column;
        gap: 65px;

        .technologies_block__title {
            @include t.h1_bold();
            color: c.$accentBlack;
        }

        .technologies_block__content {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-column-gap: 55px;
            grid-row-gap: 35px;

            .technologies_block__item {
                @include m.animation();

                width: 186px;
                height: 186px;
                padding: 24px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                gap: 32px;
                border: 2px solid c.$accentBlack;
                border-radius: 8px;

                img {
                    width: 56px;
                    height: 56px;
                }

                .technologies_block__item_title {
                    @include t.text1();
                    color: c.$accentBlack;
                }

                &:hover {
                    background-color: rgba($color: c.$accentMint, $alpha: .41);
                }
            }
        }
    }
}

