@use '../../../styles/typography' as t;
@use '../../../styles/colors' as c;
@use '../../../styles/mixins' as m;

.content {
    @include m.layout();

    gap: 20px;

    img {
        width: 100%;
        height: auto;
    }
}